<h1>Welcome to Sorry Succulents!</h1>
<p>Have you ever wanted to say sorry to someone but sending flowers just doesn't seem appropriate? Sorry Succulents is here to help! We carry the largest collection of succulents to tell that special someone you're sorry. <a href="/products/">View our selection of products and see for yourself.</a></p>
<div class="row">
  <div class="col-4">
    <h2>Most Reviewed Product</h2>
    <% if @products.most_reviewed.any? %>
      <ul>
        <% @products.most_reviewed.each do |product| %>
          <li><%= link_to product.name, product_path(product) %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-4">
      <h2>Recently Added Products</h2>
      <% if @products.threecent.any? %>
        <ul>
          <% @products.threecent.each do |product| %>
            <li><%= link_to product.name, product_path(product) %></li>
          <% end %>
        </ul>
      <% else %>
        <p>There are no products yet.</p>
      <% end %>
    </div>
  <% else %>
    <p>There are no products with reivews yet.</p>
  <% end %>
  <div class="col-4">
    <h2>Made in USA</h2>
    <% if @products.country("United States of America").any? %>
      <ul>
        <% @products.country("United States of America").each do |product| %>
          <li><%= link_to product.name, product_path(product) %></li>
        <% end %>
      </ul>
    <% else %>
      <p>There are no products yet.</p>
    <% end %>
  </div>
</div>
