@import "bootstrap";

body {
  background-color: #3C312E;
}

.container {
  border: solid #8B3119 .5rem;
  background-color:white;
}

.card {
  background-color:#A7D827;
  border: solid #5D8C68 .25rem;
}
.navbar {
  border-bottom: solid #5D8C68 .25rem;
}

.errors {
  background-color: lightcoral;
}

.add-child {
  margin:auto;
  padding:1rem;
  border: solid #303030 1px;
  text-align: center;
  background-color:#5D8C68;
}
.add-child {
  color:white;
  font-weight:bolder;
}
.add-parent a {
  text-decoration: none;
}
#user-info {
  margin-left:auto;
}

.nav-admin {
  background-color:#5d8c6846;
}