/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

body {
  background-color: #3C312E;
}

.container {
  border: solid #8B3119 .5rem;
  background-color:white;
}

.card {
  background-color:#A7D827;
  border: solid #5D8C68 .25rem;
}
.navbar {
  border-bottom: solid #5D8C68 .25rem;
}

.errors {
  background-color: lightcoral;
}

.add-child {
  margin:auto;
  padding:1rem;
  border: solid #303030 1px;
  text-align: center;
  background-color:#5D8C68;
}
.add-child {
  color:white;
  font-weight:bolder;
}
.add-parent a {
  text-decoration: none;
}
#user-info {
  margin-left:auto;
}