<div class="col-sm-4">
  <div class="card m-1">
    <div class="card-body">
      <h5 class="card-title"><%=link_to product.name, product_path(product)%></h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Country of Origin: <%=product.country_of_origin%></li>
      <li class="list-group-item">Price: $<%=product.price.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%></li>
      <li class="list-group-item"> <%=product.reviews.size%> Reviews</li>
    </ul>
  </div>
</div>
