<div class="col-sm-4">
  <div class="card m-1">
    <div class="card-body">
      <h5 class="card-title"><%=link_to product.name, product_path(product)%></h5>
      <ul>
        <li>Country of Origin: <%=product.country_of_origin%></li>
        <li>Price: <%=product.price%></li>
      </ul>
    </div>
  </div>
</div>
